<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowRequestController</servlet-name>
        <servlet-class>controllers.BorrowRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverdueBooksController</servlet-name>
        <servlet-class>controllers.OverdueBooksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>controllers.InventoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUsers</servlet-name>
        <servlet-class>controllers.ManagerUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBookController</servlet-name>
        <servlet-class>controllers.BorrowBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookController</servlet-name>
        <servlet-class>controllers.ListBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controllers.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookUserController</servlet-name>
        <servlet-class>controllers.SearchBookUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowCartController</servlet-name>
        <servlet-class>controllers.BorrowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRequest</servlet-name>
        <servlet-class>controllers.sendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowHistoryController</servlet-name>
        <servlet-class>controllers.BorrowHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBorrowRequestController</servlet-name>
        <servlet-class>controllers.CancelBorrowRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowRequestController</servlet-name>
        <url-pattern>/BorrowRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverdueBooksController</servlet-name>
        <url-pattern>/OverdueBooksController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/InventoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUsers</servlet-name>
        <url-pattern>/ManagerUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBookController</servlet-name>
        <url-pattern>/BorrowBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookController</servlet-name>
        <url-pattern>/ListBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookUserController</servlet-name>
        <url-pattern>/SearchBookUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowCartController</servlet-name>
        <url-pattern>/BorrowCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRequest</servlet-name>
        <url-pattern>/sendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowHistoryController</servlet-name>
        <url-pattern>/BorrowHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBorrowRequestController</servlet-name>
        <url-pattern>/CancelBorrowRequestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
